---
layout: base
---
{% if tags %}
{% set nextPost = collections[tags[0]] | getNextCollectionItem(page) %}
{% endif %}

<div class='flex flex-row'>
  <div class="w-60 bg-slate-300 p-4" >
    {% include "manmenu.njk" %}
  </div>
  
  <article class='prose p-12 pr-4'>
    {{ content | safe }}
    
    {% if nextPost %}
    <div class="mt-10">
      Next: 
      <a href="{{ nextPost.url }}">
        {{ nextPost.data.title }}
      </a>
    </div>
    {% endif %}
  </article>
</div>

