  <div class="flex flex-row text-gray-300">
    <div class="p-4">
      <a href="/">Home</a>
    </div>
    <div class="p-4">
      <a href="/about">About</a>
    </div>
    <div class="p-4">
      <a href="/manual">Docs</a>
    </div>
    <div class="p-4">
      Download
    </div>
    <div class="p-4">
      <a href="https://forms.gle/SBNmwGg9ipx4i4KaA">Support</a>
    </div>
    <div class="p-4">
      <a href="/privacy">Privacy</a>
    </div>
  </div>
