  <div class="flex flex-row text-gray-300">
    <div class="p-4">
      <a href="/manual">Docs</a>
    </div>
    <div class="p-4">
      About
    </div>
    <div class="p-4">
      Github
    </div>
  </div>
